@model Epizon.Models.Articolo

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica</h1>

<h4>Articolo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label">Prezzo(€)</label>
                <input asp-for="Prezzo" class="form-control" type="number" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempiDiSpedizione" class="control-label">Tempi di spedizione(in giorni)</label>
                <input asp-for="TempiDiSpedizione" class="form-control" />
                <span asp-validation-for="TempiDiSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control" asp-items="ViewBag.Categorie"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            @if (Model.ImmagineCopertina != null)
            {
                <div class="form-group">
                    <img src="~/images/@Model.ImmagineCopertina" alt="foto prodotto" style="width:200px;height:200px;" />
                </div>
            }
            <div class="form-group">
                <label asp-for="ImmagineCopertina" class="control-label">Immagine Di Copertina</label>
                <input asp-for="ImmagineCopertina" type="file" class="form-control" />
                <span asp-validation-for="ImmagineCopertina" class="text-danger"></span>
            </div>
            @if (Model.Immagine2 != null)
            {
                <div class="form-group">
                    <img src="~/images/@Model.Immagine2" alt="foto prodotto" style="width:200px;height:200px;" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Immagine2" class="control-label"></label>
                <input asp-for="Immagine2" type="file" class="form-control" />
                <span asp-validation-for="Immagine2" class="text-danger"></span>
            </div>
            @if (Model.Immagine3 != null)
            {
                <div class="form-group">
                    <img src="~/images/@Model.Immagine3" alt="foto prodotto" style="width:200px;height:200px;" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Immagine3" class="control-label"></label>
                <input asp-for="Immagine3" type="file" class="form-control" />
                <span asp-validation-for="Immagine3" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="RivenditoreId" />
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="ImmagineCopertina" value="@Model.ImmagineCopertina" />
            <input type="hidden" asp-for="Immagine2" value="@Model.Immagine2" />
            <input type="hidden" asp-for="Immagine3" value="@Model.Immagine3" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ritorna alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
