@{
    ViewData["Title"] = "Errore Durante l'Ordine";
}

<h2>@ViewData["Title"]</h2>

<p>Si è verificato un errore durante il processo dell'ordine. Per favore, riprova più tardi.</p>

<a href="@Url.Action("VisualizzaCarrello", "Carrello")" class="btn btn-primary">Torna al Carrello</a>
