@model Epizon.Models.CarrelloViewModel

@{
    ViewData["Title"] = "Carrello";
}

<h1>Carrello</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Checkout" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Quantità</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var articolo in Model.Articoli)
                    {
                        <tr>
                            <td>@articolo.Titolo</td>
                            <td>
                                <input type="number" name="Quantita[@articolo.Id]" value="@articolo.Quantità" min="1" class="form-control" style="width: 80px; margin-left: 10px;" />
                            </td>
                            <td>@(@articolo.Prezzo * articolo.Quantità) €</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h4 class="mt-3">Totale: <span id="totale">@Model.Totale €</span></h4>
            <button type="submit" class="btn btn-success btn-lg mt-3">Concludi Ordine</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("input[name^='Quantita']").on("input", function () {
                var tot = 0;
                $("input[name^='Quantita']").each(function () {
                    var quantita = $(this).val();
                    var prezzo = $(this).closest("tr").find("td:nth-child(3)").text().replace('€', '').trim();
                    // Converti la virgola in punto
                    prezzo = prezzo.replace(',', '.');
                    var prezzoNum = parseFloat(prezzo);
                    var quantitaNum = parseInt(quantita, 10);

                    if (!isNaN(prezzoNum) && !isNaN(quantitaNum)) {
                        tot += prezzoNum * quantitaNum;
                    }
                });
                $("#totale").text(tot.toFixed(2) + " €");
            });
        });
    </script>
}
