@{
    ViewData["Title"] = "Articolo non trovato";
}

<h2>Oops, l'articolo che cerchi è inesistente!</h2>
<p>Prova a cercare un altro articolo o controlla la tua ortografia.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Torna allo shop</a>
