@{
    ViewData["Title"] = "FAQ";
}

<h2 class="text-center my-5" style="color:#008296;">Domande Frequenti (FAQ)</h2>

<div class="container">
    <h3>1. Come posso effettuare un ordine?</h3>
    <p>Per effettuare un ordine, naviga nel nostro catalogo, seleziona i prodotti e segui il processo di checkout.</p>

    <h3>2. Quali metodi di pagamento accettate?</h3>
    <p>Accettiamo diverse forme di pagamento, tra cui carte di credito, PayPal e bonifici.</p>

    <h3>3. Posso modificare o cancellare un ordine dopo averlo effettuato?</h3>
    <p>Puoi modificare o cancellare il tuo ordine contattando il nostro servizio clienti.</p>

    <h3>4. Come posso contattare il supporto clienti?</h3>
    <p>Puoi contattarci attraverso il modulo di richiesta nella nostra pagina di Servizio Clienti.</p>

    <h3>5. Offrite garanzie sui prodotti?</h3>
    <p>Sì, tutti i prodotti sono coperti da una garanzia secondo i termini specificati dal produttore.</p>

    <h3>6. Come posso restituire un prodotto?</h3>
    <p>Le informazioni sulle restituzioni possono essere trovate nella nostra sezione Resi e Rimborsi.</p>

    <h3>7. Dove posso trovare le vostre condizioni di vendita?</h3>
    <p>
        Le nostre condizioni di vendita sono disponibili nella sezione <a asp-action="TerminiECondizioni">Termini e condizioni</a>
    </p>

</div>
