@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 class="text-center my-5" style="color:#008296;">Informativa sulla Privacy</h2>

<div class="container">
    <h3>1. Introduzione</h3>
    <p>La tua privacy è importante per noi. Questa informativa descrive come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali.</p>

    <h3>2. Dati Raccolti</h3>
    <p>Raccogliamo informazioni quando ti registri, effettui un ordine o interagisci con il nostro sito.</p>

    <h3>3. Uso delle Informazioni</h3>
    <p>I dati che raccogliamo possono essere utilizzati per migliorare il nostro servizio, elaborare le transazioni e inviarti comunicazioni.</p>

    <h3>4. Sicurezza dei Dati</h3>
    <p>Implementiamo misure di sicurezza per proteggere le tue informazioni.</p>

    <h3>5. Condivisione delle Informazioni</h3>
    <p>Non vendiamo, scambiamo o trasferiamo le tue informazioni personali a terzi senza il tuo consenso.</p>

    <h3>6. Modifiche all'Informativa</h3>
    <p>Ci riserviamo il diritto di modificare questa informativa in qualsiasi momento.</p>

    <h3>7. Contatti</h3>
    <p>Per domande sulla nostra informativa sulla privacy, contattaci.</p>

    <p class="text-center">
        <a asp-action="ServizioClienti" class="btn btn-primary">Torna al Servizio Clienti</a>
    </p>
</div>
