@{
    ViewData["Title"] = "Termini e Condizioni";
}

<h2 class="text-center my-5" style="color:#008296;">Termini e Condizioni di Epizon</h2>

<div class="container">
    <h3>1. Accettazione dei Termini</h3>
    <p>Accedendo e utilizzando il sito web di Epizon, accetti i presenti Termini e Condizioni nella loro totalità.</p>

    <h3>2. Modifiche ai Termini</h3>
    <p>Ci riserviamo il diritto di modificare i Termini e Condizioni in qualsiasi momento.</p>

    <h3>3. Registrazione e Account</h3>
    <p>Per accedere ad alcune funzionalità del nostro sito, potresti dover creare un account.</p>

    <h3>4. Prodotti e Servizi</h3>
    <p>Epizon offre una piattaforma per la vendita di prodotti da parte di rivenditori terzi.</p>

    <h3>5. Pagamenti e Fatturazione</h3>
    <p>Accetti di pagare tutti gli importi dovuti per gli acquisti effettuati su Epizon.</p>

    <h3>6. Spedizione e Consegna</h3>
    <p>Le politiche di spedizione variano in base al rivenditore.</p>

    <h3>7. Resi e Rimborsi</h3>
    <p>Per i resi e i rimborsi, invitiamo gli utenti a contattare direttamente il rivenditore.</p>

    <h3>8. Proprietà Intellettuale</h3>
    <p>Tutti i contenuti presenti su Epizon sono di proprietà di Epizon o dei nostri partner.</p>

    <h3>9. Limitazione di Responsabilità</h3>
    <p>Epizon non è responsabile per eventuali danni diretti o indiretti derivanti dall'utilizzo del nostro sito.</p>

    <h3>10. Privacy</h3>
    <p>Per informazioni su come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali, consulta la nostra Informativa sulla Privacy.</p>

    <h3>11. Sospensione o Interruzione del Servizio</h3>
    <p>Ci riserviamo il diritto di sospendere o interrompere l'accesso al sito in qualsiasi momento.</p>

    <h3>12. Legge Applicabile</h3>
    <p>I presenti Termini e Condizioni sono regolati dalle leggi italiane.</p>

    <h3>13. Contatti</h3>
    <p>Se hai domande o dubbi riguardo ai nostri Termini e Condizioni, puoi contattarci.</p>

    <p class="text-center">
        <a asp-action="ServizioClienti" class="btn btn-primary">Contatta il Servizio Clienti</a>
    </p>
</div>
